.button-espaco {
    margin: 2px;
}

.a-espaco {
    margin: 20px;
}

.col-func {
    width: 100px;
    text-align: center;
}

.col-hosp {
    width: 100px;
    text-align: center;
}

.col-quartos {
    width: 100px;
    text-align: center;
}

.bem-vindo {
    text-align: center;
}